.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 8px 0;

  .left {
    flex: 4;

    .unit_price {
      font-size: 0.9em;
    }
  }

  .tag {
    &__sub-category {
      flex: 3;
    }

    &__number-of-items {
      flex: 1;
    }
  }

  .value {
    flex: 1;
    text-align: end;
  }
}
