.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 8px 16px;

  .left {
    flex: 4;

    &__name {
      font-weight: 500;
      margin-bottom: 4px;
    }

    &__unit-price {
      font-size: 0.9em;
      font-weight: 300;
    }
  }

  .tag {
    &__sub-category {
      flex: 3;
    }

    &__number-of-items {
      flex: 1;
    }
  }

  .value {
    flex: 1;
    font-weight: 500;
    text-align: end;
  }
}
