@use "../../lib/styles/texts" as texts;

.header {
  display: flex;
  justify-content: space-between;
}

.total {
  margin: 10px 0;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}
