input {
  visibility: hidden;
}

.no-data {
  text-align: center;
}

.new-payment-info {
  text-align: center;

  margin-top: 10rem;

  font-size: 0.9em;
  font-weight: 200;
  color: var(--primary-grey);
}
