@use '@angular/material' as mat;

@import 'app/lib/styles/colors';
@import 'app/lib/styles/texts';

html, body { height: 100%; }
body { margin: 6px 12px;   font-family: "Inter", "Poppins", "Manrope", sans-serif;}

:root {
  @include mat.progress-bar-overrides((
    active-indicator-color: var(--primary-black),
    track-color: var(--tertiary-grey),
    active-indicator-height: 8px,
    track-height: 8px,
    track-shape: 50px,
  ));

  mat-progress-bar {
    border-radius: 20px;
  }
}
